<style>
	body {
		background-image: url("../Assets/img/paper-plane.png");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto;
		background-attachment: fixed;
	}
</style>
<div class="container text-center mt-5">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<h1 class="display-3">C'est dans la boite !</h1>
			<p class="lead">
				Votre message nous est bien parvenu. Nous vous répondrons dans les plus brefs délais.
			</p>
			<p class="lead">
				<a class="btn btn-primary" href="/" title="Retour à l'acceuil" role="button">Retour</a>
			</p>
		</div>
	</div>
</div>