<style>
	body {
		background-image: url("../Assets/img/boost.png");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto;
		background-attachment: fixed;
	}
</style>
<div class="container text-center mt-5">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<h1 class="display-3">Félicitations !</h1>
			<p class="lead">
				Plus qu'une étape ! Vous allez recevoir un email de confirmation. Veuillez cliquer sur le lien d'activation pour avoir accès à vos services.
			</p>
			<p>
				Un soucis ? <a href="/contact">Contactez-nous</a>
			</p>
			<p class="lead">
				<a class="btn btn-primary" href="/login" title="me connecter à mon compte" role="button">Me connecter à mon compte</a>
			</p>
		</div>
	</div>
</div>